@charset "ISO-8859-1";

body{
	color: #333;
	font-family:"Tahoma";
}
a{
	text-decoration: none;
	margin:0;
}

#container{
	margin:0 auto;
	width:calc(100% - 20px);
	padding:10px;
}

#header{
	width:100%;
	margin:0 auto;
}
#title{
	width:150px;
	height:40px;
	font-size:36px;
	float:left;
}
#timestamp{
	width:150px;
	height:40px;
	float:right;
}
#timestampTime{
	width:150px;
	height:30px;
	font-size:18px;
	color:#33AA33;
	text-align:right;
}
#timestampDay{
	width:150px;
	height:10px;
	font-size:12px;
	color:#333;
	text-align:right;
}

#content{
	width:100%;
	margin:50px auto 0px;	
	text-align:center;
}

.menu{
	width:276px;
	margin:10px 10px 10px 0px;
	height:276px;
	line-height:276px;
	padding:10px;
	color:#333;
	text-decoration:none;
	text-align:center;
	font-size:24px;
	border:2px solid #33AA33;
	border-radius:5px;
	display: inline-block;
}

.menu:hover{
	background-color:#33AA33;
	color:#fff;
}

.menuMargin{
	display: inline-block;
	width:20px;
	height:20px;
}

.input100{
	width:276px;
	padding:10px;
	border:2px solid #33AA33;
	border-radius:5px;
	margin:0px auto;
	font-family:"Tahoma";
	font-weight: bold;
	font-size:24px;
	text-align:center;
	text-transform:uppercase;
}
.input100[readonly]{
	color:#33AA33;
	background-color:#CCFFCC;
}

.label100{
	width:300px;
	margin:0px auto;
	text-align:left;
}

.vMargin{
	width:100%;
	clear:both;
}

#footer{
	margin:0 auto;
	width:100%;
	text-align:center;
	font-size:12px;
}

.btnForm{
	background-color:#33AA33;
	border:2px solid #33AA33;
	border-radius:5px;
	color:#fff;
	cursor: pointer;
	font-family:"Tahoma";
}.btnForm:hover{
	border:2px solid #6666ff;
	background-color:#6666ff;
	color:#fff;
}

.subForm{
	background-color:#33AA33;
	border:2px solid #33AA33;
	border-radius:5px;
	color:#fff;
	cursor: pointer;
	font-family:"Tahoma";
	width:300px;
	height:50px;
	font-size:24px;
}.subForm:hover{
	border:2px solid #6666ff;
	background-color:#6666ff;
	color:#fff;
}

.popUp{
	width:278px;
	background:rgba(228,255,228,0.9);
	border:1px solid #33AA33;
	
	position:fixed;
	padding:10px;
	top:0px;
	bottom:0px;
	left:0px;
}.popUpClose{
	position:absolute;
	top:0px;
	right:0px;
	width:25px;
	height:25px;
	cursor:pointer;
	border-bottom:1px solid #33AA33;
	border-left:1px solid #33AA33;
	line-height:25px;
	text-align:center;
	color:#33AA33;
}.popUpClose:hover{
	background-color:#ff6666;
	color:#fff;
}


#bigMessage{
    width:300px;
	border-radius:5px;
    font-size:48px;
    margin:0 auto;
	color:#33AA33;
	text-align: center;
}

@media screen and (max-width: 675px) {
	.menu{
		height:36px;
		line-height:36px;
		width:calc(100% - 24px);
	}
	#title{
		width:150px;
	}
	#timestamp{
		width:150px;
	}
	#timestampDay{
		width:150px;
	}
	#timestampTime{
		width:150px;
	}
	#content{
		margin:25px auto;	
	}
	.input100{
		width:calc(100% - 24px);
	}
	.label100{
		width:calc(100%);
	}
	.subForm{
		width:calc(100%);
	}
	.popUp{
		width:calc(100% - 22px);
	}
	#bigMessage{
		width:calc(100%);
	}
}

